
*{
 margin: 0;
}
.wrapper{
    width: 100%;
    height: 100px;
}
.head{
    width: 100%;
    height: 100px;
    position: fixed;   
}
.logo
    {
        width: 12%;
        height: 100%;
        float: left;
    }
.navigation{
        width: 83%;
        height: 100%;
        float: right;
}
.linkside{
        width: 90%;
        height: 100%;
        float: left;
}
.searchside
    {
        width: 10%;
        height: 100%;
        float: right;
    }
    @font-face {
        font-family: Salsa;
        src: url(/fonts/Salsa/Salsa-Regular.ttf);   /* Use of downloaded fonts */
    }
    @font-face {
        font-family: Lemon;
        src: url(/fonts/Lemon/Lemon-Regular.ttf);
    }
    @font-face {
        font-family: Bradly;
        src: url(/fonts/bradley-hand-itc/BRADHITC.TTF);
    }
    @font-face {
        font-family: Rubik;
        src: url(/fonts/Rubik_Burned/RubikBurned-Regular.ttf);
    }
    